oxygen/frameworks/tei/xml/tei/schema/relaxng/certainty.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--Schema generated 2008-07-08T17:38:35Z..
Copyright 2008 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
For general (non-technical) enquiries, contact the TEI
	  Consortium at info@tei-c.org; 
for membership enquiries contact membership@tei-c.org; for
technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C, contact editors@tei-c.org.
For up to date information, consult the TEI web
	      site at http://www.tei-c.org/P5/. 
		Certainty and uncertainty-->
  <!--Definitions from module certainty-->
  <!--Set global predeclared macros-->
  <!--Set predeclared macros-->
  <!--0. predeclared macros-->
  <!--1. classes-->
  <!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="certainty">
    <element name="certainty">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the degree of certainty or uncertainty associated
  with some aspect of the text markup. </a:documentation>
      <ref name="certainty.content"/>
      <ref name="certainty.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="certainty.content">
    <rng:zeroOrMore>
      <rng:ref name="model.glossLike"/>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="certainty.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:attribute name="target">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points at the elements whose markup is
      uncertain.</a:documentation>
      <rng:list>
        <rng:oneOrMore>
          <ref name="data.pointer"/>
        </rng:oneOrMore>
      </rng:list>
    </rng:attribute>
    <rng:attribute name="locus">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the precise location of the uncertainty in the
	markup: applicability of the element, precise position of the
	start- or end-tag, value of a specific attribute,
	etc.
Suggested values include: 1] gi (element name); 2] startLoc (start location); 3] endLoc (end location); 4] location; 5] attrName (attribute name); 6] transcribedContent; 7] suppliedContent</a:documentation>
      <rng:choice>
        <rng:value>gi</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(element name) uncertain whether the element used actually applies
	    to the passage.</a:documentation>
        <rng:value>startLoc</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(start location) start-tag may not be correctly located.</a:documentation>
        <rng:value>endLoc</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(end location) end-tag may not be correctly located.</a:documentation>
        <rng:value>location</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">both the start-tag and the end-tag may not be
	    correctly located.</a:documentation>
        <rng:value>attrName</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(attribute name) the value given for the attribute name is
	    uncertain.</a:documentation>
        <rng:value>transcribedContent</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the content of the element may not be a correct
	    transcription of the source text.</a:documentation>
        <rng:value>suppliedContent</rng:value>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the content of the element may not have been
	    correctly supplied by the reader, e.g. as in the cases of
	    corr and abbrev elements.</a:documentation>
        <rng:data type="Name"/>
      </rng:choice>
    </rng:attribute>
    <rng:optional>
      <rng:attribute name="assertedValue">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an alternative value for the aspect of the markup in
question&#x2014;an alternative generic identifier, transcription,
or attribute value, or the identifier of an anchor element (to
indicate an alternative starting or ending location).  If an
assertedValue is given, the confidence level specified by
degree applies to the alternative markup specified by
assertedValue; if none is given, it applies to the markup
in the text.</a:documentation>
        <choice>
          <ref name="data.pointer"/>
          <ref name="data.name"/>
          <ref name="data.word"/>
        </choice>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="given">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates conditions assumed in the assignment of a degree
      of confidence.</a:documentation>
        <rng:list>
          <rng:oneOrMore>
            <ref name="data.pointer"/>
          </rng:oneOrMore>
        </rng:list>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="degree">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the degree of confidence assigned to the aspect
of the markup named by the locus attribute.</a:documentation>
        <ref name="data.probability"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="respons">
    <element name="respons">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) identifies the individual(s) responsible for some aspect of the
markup of particular element(s).</a:documentation>
      <ref name="respons.content"/>
      <ref name="respons.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="respons.content">
    <rng:zeroOrMore>
      <rng:ref name="model.glossLike"/>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="respons.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:attribute name="target">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the identifier(s) of the element(s) for which some
aspect of the responsibility is being
assigned.</a:documentation>
      <rng:list>
        <rng:oneOrMore>
          <ref name="data.pointer"/>
        </rng:oneOrMore>
      </rng:list>
    </rng:attribute>
    <rng:attribute name="locus">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the specific aspect of the markup for which
responsibility is being assigned.
Suggested values include: 1] gi (element name); 2] location; 3] startLoc (start location); 4] endLoc (end location); 5] attrName (attribute name); 6] transcribedContent; 7] suppliedContent</a:documentation>
      <rng:list>
        <rng:oneOrMore>
          <rng:choice>
            <rng:value>gi</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(element name) responsibility for the claim that the element is of the
type indicated by the markup</a:documentation>
            <rng:value>location</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility for the claim that the element
begins and ends where indicated</a:documentation>
            <rng:value>startLoc</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(start location) responsibility for the claim that the element begins
          where indicated</a:documentation>
            <rng:value>endLoc</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(end location) responsibility for the claim that the element ends
          where indicated</a:documentation>
            <rng:value>attrName</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(attribute name) responsibility for the claim that the
name attribute has the value given in the markup</a:documentation>
            <rng:value>transcribedContent</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility for the transcription of
the element content</a:documentation>
            <rng:value>suppliedContent</rng:value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility for the contents supplied by
the encoder (corrections, expansions of abbreviations, etc.)</a:documentation>
            <rng:data type="Name"/>
          </rng:choice>
        </rng:oneOrMore>
      </rng:list>
    </rng:attribute>
    <rng:attribute name="resp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) identifies the individual or agency responsible for the indicated
aspect of the electronic text.</a:documentation>
      <ref name="data.pointer"/>
    </rng:attribute>
    <empty/>
  </define>
  <!--3. macros-->
</rng:grammar>
