oxygen/frameworks/tei/xml/tei/schema/relaxng/corpus.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--Schema generated 2008-07-08T17:38:33Z..
Copyright 2008 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
For general (non-technical) enquiries, contact the TEI
	  Consortium at info@tei-c.org; 
for membership enquiries contact membership@tei-c.org; for
technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C, contact editors@tei-c.org.
For up to date information, consult the TEI web
	      site at http://www.tei-c.org/P5/. 
		Corpus texts-->
  <!--Definitions from module corpus-->
  <!--Set global predeclared macros-->
  <!--Set predeclared macros-->
  <!--0. predeclared macros-->
  <!--1. classes-->
  <!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="activity">
    <element name="activity">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a brief informal description of what a participant in a
language interaction is doing other than speaking, if anything.</a:documentation>
      <ref name="activity.content"/>
      <ref name="activity.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="activity.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="activity.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="channel">
    <element name="channel">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(primary channel) describes the medium or channel by which a text is delivered or
experienced. For a written text, this might be print, manuscript, e-mail, etc.;
for a spoken one, radio, telephone, face-to-face, etc.</a:documentation>
      <ref name="channel.content"/>
      <ref name="channel.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="channel.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="channel.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="mode" a:defaultValue="x">
        <a:documentation>specifies the mode of this channel with respect to speech and
         writing.
   </a:documentation>
        <rng:choice>
          <rng:value>s</rng:value>
          <a:documentation>(spoken) </a:documentation>
          <rng:value>w</rng:value>
          <a:documentation>(written) </a:documentation>
          <rng:value>sw</rng:value>
          <a:documentation>(spoken to be written) e.g. dictation</a:documentation>
          <rng:value>ws</rng:value>
          <a:documentation>(written to be spoken) e.g. a script</a:documentation>
          <rng:value>m</rng:value>
          <a:documentation>(mixed) </a:documentation>
          <rng:value>x</rng:value>
          <a:documentation>(unknown or inapplicable) </a:documentation>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="constitution">
    <element name="constitution">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the internal composition of a text or text sample,
for example
as fragmentary, complete, etc.</a:documentation>
      <ref name="constitution.content"/>
      <ref name="constitution.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="constitution.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="constitution.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type" a:defaultValue="single">
        <a:documentation>specifies how the text was constituted.
   </a:documentation>
        <rng:choice>
          <rng:value>single</rng:value>
          <a:documentation>a single complete text
    </a:documentation>
          <rng:value>composite</rng:value>
          <a:documentation>a text made by combining several smaller
             items, each individually complete
    </a:documentation>
          <rng:value>frags</rng:value>
          <a:documentation>(fragments) a text made by combining several smaller, not
             necessarily complete, items
    </a:documentation>
          <rng:value>unknown</rng:value>
          <a:documentation>composition unknown or unspecified
   </a:documentation>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="derivation">
    <element name="derivation">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the nature and extent of originality of this text.</a:documentation>
      <ref name="derivation.content"/>
      <ref name="derivation.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="derivation.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="derivation.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the derivation of the text.
Sample values include: 1] original; 2] revision; 3] translation; 4] abridgment; 5] plagiarism; 6] traditional</a:documentation>
        <ref name="data.enumerated"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="domain">
    <element name="domain">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(domain of use) describes the most important social context in which the text was
realized or for which it is intended, for example private vs. public,
education, religion, etc.</a:documentation>
      <ref name="domain.content"/>
      <ref name="domain.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="domain.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="domain.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the domain of use.
Sample values include: 1] art; 2] domestic; 3] religious; 4] business; 5] education; 6] govt (government); 7] public</a:documentation>
        <ref name="data.enumerated"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="factuality">
    <element name="factuality">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the extent to which the text may be regarded as
imaginative or non-imaginative, that is, as describing a fictional
or a non-fictional world. </a:documentation>
      <ref name="factuality.content"/>
      <ref name="factuality.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="factuality.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="factuality.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the factuality of the text.
   </a:documentation>
        <rng:choice>
          <rng:value>fiction</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text is to be regarded as entirely imaginative
  </a:documentation>
          <rng:value>fact</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text is to be regarded as entirely informative or factual
  </a:documentation>
          <rng:value>mixed</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text contains a mixture of fact and fiction
  </a:documentation>
          <rng:value>inapplicable</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the fiction/fact distinction is not regarded
    as helpful or appropriate to this text
   </a:documentation>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interaction">
    <element name="interaction">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the extent, cardinality and nature of any interaction
among those producing and experiencing the text, for example in the
form of response or interjection, commentary, etc.</a:documentation>
      <ref name="interaction.content"/>
      <ref name="interaction.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interaction.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interaction.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the degree of interaction between
  active and passive participants in the text. </a:documentation>
        <rng:choice>
          <rng:value>none</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">no interaction of any kind, e.g. a monologue </a:documentation>
          <rng:value>partial</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">some degree of interaction, e.g. a monologue with set responses </a:documentation>
          <rng:value>complete</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">complete interaction, e.g. a face to face conversation </a:documentation>
          <rng:value>inapplicable</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">this parameter is inappropriate or inapplicable in this case </a:documentation>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="active">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the number of active participants
   (or addressors) producing parts of the text. 
Suggested values include: 1] singular; 2] plural; 3] corporate; 4] unknown</a:documentation>
        <rng:choice>
          <rng:value>singular</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a single addressor </a:documentation>
          <rng:value>plural</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">many addressors </a:documentation>
          <rng:value>corporate</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a corporate addressor </a:documentation>
          <rng:value>unknown</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">number of addressors unknown or unspecifiable </a:documentation>
          <rng:data type="Name"/>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="passive">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the number of passive participants
   (or addressees) to whom a text is directed
   or in whose presence it is created or performed.
Suggested values include: 1] self; 2] single; 3] many; 4] group; 5] world</a:documentation>
        <rng:choice>
          <rng:value>self</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">text is addressed to the originator e.g. a diary </a:documentation>
          <rng:value>single</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">text is addressed to one other person e.g. a personal letter </a:documentation>
          <rng:value>many</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">text is addressed to a countable number of others
    e.g. a conversation in which all participants are identified </a:documentation>
          <rng:value>group</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">text is addressed to an undefined but fixed
    number of participants  e.g. a lecture </a:documentation>
          <rng:value>world</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">text is addressed to an undefined and indeterminately
    large number e.g. a published book </a:documentation>
          <rng:data type="Name"/>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="locale">
    <element name="locale">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a brief informal description of the kind of
place concerned, for example: a room, a restaurant, a park bench, etc.</a:documentation>
      <ref name="locale.content"/>
      <ref name="locale.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="locale.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="locale.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particDesc">
    <element name="particDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(participation description) describes the identifiable speakers, voices, or other participants
in a linguistic interaction. </a:documentation>
      <ref name="particDesc.content"/>
      <ref name="particDesc.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particDesc.content">
    <rng:choice>
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:oneOrMore>
        <rng:choice>
          <rng:ref name="model.personLike"/>
          <rng:ref name="listPerson"/>
        </rng:choice>
      </rng:oneOrMore>
    </rng:choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particDesc.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="preparedness">
    <element name="preparedness">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the extent to which a text may be regarded as
prepared or spontaneous. </a:documentation>
      <ref name="preparedness.content"/>
      <ref name="preparedness.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="preparedness.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="preparedness.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a keyword characterizing the type of preparedness.
Sample values include: 1] none; 2] scripted; 3] formulaic; 4] revised</a:documentation>
        <ref name="data.enumerated"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="purpose">
    <element name="purpose">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes a single purpose or communicative function of the
text.</a:documentation>
      <ref name="purpose.content"/>
      <ref name="purpose.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="purpose.content">
    <rng:ref name="macro.phraseSeq.limited"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="purpose.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a particular kind of purpose.
Suggested values include: 1] persuade; 2] express; 3] inform; 4] entertain</a:documentation>
        <rng:choice>
          <rng:value>persuade</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">didactic, advertising, propaganda, etc.
  </a:documentation>
          <rng:value>express</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">self expression, confessional, etc.
  </a:documentation>
          <rng:value>inform</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">convey information, educate, etc.
  </a:documentation>
          <rng:value>entertain</rng:value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">amuse, entertain, etc.
   </a:documentation>
          <rng:data type="Name"/>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="degree">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the extent to which this purpose predominates.</a:documentation>
        <ref name="data.certainty"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="setting">
    <element name="setting">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes one particular setting in which a language
  interaction takes place.</a:documentation>
      <ref name="setting.content"/>
      <ref name="setting.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="setting.content">
    <rng:choice>
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.nameLike.agent"/>
          <rng:ref name="model.dateLike"/>
          <rng:ref name="model.settingPart"/>
        </rng:choice>
      </rng:zeroOrMore>
    </rng:choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="setting.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settingDesc">
    <element name="settingDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(setting description) describes the setting or settings within which a language
interaction takes place, either as a prose description or as a
series of setting elements.</a:documentation>
      <ref name="settingDesc.content"/>
      <ref name="settingDesc.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settingDesc.content">
    <rng:choice>
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:oneOrMore>
        <rng:ref name="setting"/>
      </rng:oneOrMore>
    </rng:choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settingDesc.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="textDesc">
    <element name="textDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text description) provides a description of a text in terms of its
situational parameters.</a:documentation>
      <ref name="textDesc.content"/>
      <ref name="textDesc.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="textDesc.content">
    <rng:group>
      <rng:ref name="model.textDescPart_sequence"/>
      <rng:oneOrMore>
        <rng:ref name="purpose"/>
      </rng:oneOrMore>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="textDesc.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
  <!--3. macros-->
</rng:grammar>
