oxygen/frameworks/tei/xml/tei/schema/relaxng/textstructure.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--Schema generated 2008-07-08T17:38:28Z..
Copyright 2008 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
For general (non-technical) enquiries, contact the TEI
	  Consortium at info@tei-c.org; 
for membership enquiries contact membership@tei-c.org; for
technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C, contact editors@tei-c.org.
For up to date information, consult the TEI web
	      site at http://www.tei-c.org/P5/. 
		Default
text structure-->
  <!--Definitions from module textstructure-->
  <!--Set global predeclared macros-->
  <!--Set predeclared macros-->
  <!--0. predeclared macros-->
  <!--1. classes-->
  <!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="TEI">
    <element name="TEI">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element.</a:documentation>
      <ref name="TEI.content"/>
      <ref name="TEI.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="TEI.content">
    <rng:group>
      <rng:ref name="teiHeader"/>
      <rng:choice>
        <rng:group>
          <rng:oneOrMore>
            <rng:ref name="model.resourceLike"/>
          </rng:oneOrMore>
          <rng:optional>
            <rng:ref name="text"/>
          </rng:optional>
        </rng:group>
        <rng:ref name="text"/>
      </rng:choice>
    </rng:group>
    <s:ns xmlns:s="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.tei-c.org/ns/1.0" prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
    <s:ns xmlns:s="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.tei-c.org/ns/1.0" prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="TEI.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="version" a:defaultValue="5.0">
        <a:documentation>The version of the TEI scheme</a:documentation>
        <data type="decimal"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="argument">
    <element name="argument">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A formal list or prose description of the topics addressed by
	a subdivision of a text.</a:documentation>
      <ref name="argument.content"/>
      <ref name="argument.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="argument.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.global"/>
          <rng:ref name="model.headLike"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:oneOrMore>
        <rng:group>
          <rng:ref name="model.common"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="argument.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="back">
    <element name="back">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(back matter) contains any appendixes, etc. following the main part of a
    text.</a:documentation>
      <ref name="back.content"/>
      <ref name="back.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="back.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.frontPart"/>
          <rng:ref name="model.pLike.front"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:group>
        <rng:optional>
          <rng:choice>
            <rng:group>
              <rng:group>
                <rng:ref name="model.div1Like"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.frontPart"/>
                  <rng:ref name="model.div1Like"/>
                  <rng:ref name="model.global"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
            <rng:group>
              <rng:group>
                <rng:ref name="model.divLike"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.frontPart"/>
                  <rng:ref name="model.divLike"/>
                  <rng:ref name="model.global"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
          </rng:choice>
        </rng:optional>
      </rng:group>
      <rng:group>
        <rng:optional>
          <rng:group>
            <rng:ref name="model.divBottomPart"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:choice>
              <rng:ref name="model.divBottomPart"/>
              <rng:ref name="model.global"/>
            </rng:choice>
          </rng:zeroOrMore>
        </rng:optional>
      </rng:group>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="back.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="body">
    <element name="body">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter.</a:documentation>
      <ref name="body.content"/>
      <ref name="body.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="body.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:group>
          <rng:group>
            <rng:ref name="model.divTop"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:choice>
              <rng:ref name="model.global"/>
              <rng:ref name="model.divTop"/>
            </rng:choice>
          </rng:zeroOrMore>
        </rng:group>
      </rng:optional>
      <rng:optional>
        <rng:group>
          <rng:group>
            <rng:ref name="model.divGenLike"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:choice>
              <rng:ref name="model.global"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
          </rng:zeroOrMore>
        </rng:group>
      </rng:optional>
      <rng:group>
        <rng:choice>
          <rng:oneOrMore>
            <rng:group>
              <rng:group>
                <rng:ref name="model.divLike"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.global"/>
                  <rng:ref name="model.divGenLike"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
          </rng:oneOrMore>
          <rng:oneOrMore>
            <rng:group>
              <rng:group>
                <rng:ref name="model.div1Like"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.global"/>
                  <rng:ref name="model.divGenLike"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:optional>
              <rng:choice>
                <rng:oneOrMore>
                  <rng:group>
                    <rng:group>
                      <rng:ref name="model.divLike"/>
                    </rng:group>
                    <rng:zeroOrMore>
                      <rng:choice>
                        <rng:ref name="model.global"/>
                        <rng:ref name="model.divGenLike"/>
                      </rng:choice>
                    </rng:zeroOrMore>
                  </rng:group>
                </rng:oneOrMore>
                <rng:oneOrMore>
                  <rng:group>
                    <rng:group>
                      <rng:ref name="model.div1Like"/>
                    </rng:group>
                    <rng:zeroOrMore>
                      <rng:choice>
                        <rng:ref name="model.global"/>
                        <rng:ref name="model.divGenLike"/>
                      </rng:choice>
                    </rng:zeroOrMore>
                  </rng:group>
                </rng:oneOrMore>
              </rng:choice>
            </rng:optional>
          </rng:group>
        </rng:choice>
      </rng:group>
      <rng:zeroOrMore>
        <rng:group>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:group>
      </rng:zeroOrMore>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="body.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="byline">
    <element name="byline">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the primary statement of responsibility given for a work
on its title page or at the head or end of the work.</a:documentation>
      <ref name="byline.content"/>
      <ref name="byline.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="byline.content">
    <rng:zeroOrMore>
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="docAuthor"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="byline.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="closer">
    <element name="closer">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups together salutations, datelines, and similar
phrases appearing as a final group at the end of a
division, especially of a letter.</a:documentation>
      <ref name="closer.content"/>
      <ref name="closer.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="closer.content">
    <rng:zeroOrMore>
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="signed"/>
        <rng:ref name="dateline"/>
        <rng:ref name="salute"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="closer.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dateline">
    <element name="dateline">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a brief description of the place, date, time, etc. of
	production of a letter, newspaper story, or other work, prefixed or
	suffixed to it as a kind of heading or trailer. </a:documentation>
      <ref name="dateline.content"/>
      <ref name="dateline.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dateline.content">
    <rng:ref name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dateline.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div">
    <element name="div">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text division) contains a subdivision of the front, body, or back of a
text.</a:documentation>
      <ref name="div.content"/>
      <ref name="div.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:group>
            <rng:oneOrMore>
              <rng:choice>
                <rng:ref name="model.divLike"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
          </rng:group>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.divLike"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div1">
    <element name="div1">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-1 text division) contains a first-level subdivision of the front, body, or back
of a text.</a:documentation>
      <ref name="div1.content"/>
      <ref name="div1.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div1.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:oneOrMore>
            <rng:choice>
              <rng:ref name="model.div2Like"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.div2Like"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div1.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div2">
    <element name="div2">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-2 text division) contains a second-level subdivision of the front, body, or back of a
 text.</a:documentation>
      <ref name="div2.content"/>
      <ref name="div2.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div2.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:oneOrMore>
            <rng:choice>
              <rng:ref name="model.div3Like"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.div3Like"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div2.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div3">
    <element name="div3">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-3 text division) contains a third-level subdivision of the front, body, or back of a
 text.</a:documentation>
      <ref name="div3.content"/>
      <ref name="div3.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div3.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:oneOrMore>
            <rng:choice>
              <rng:ref name="model.div4Like"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.div4Like"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div3.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div4">
    <element name="div4">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-4 text division) contains a fourth-level subdivision of the front, body, or back of a
 text.</a:documentation>
      <ref name="div4.content"/>
      <ref name="div4.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div4.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:oneOrMore>
            <rng:choice>
              <rng:ref name="model.div5Like"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.div5Like"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div4.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div5">
    <element name="div5">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-5 text division) contains a fifth-level subdivision of the front, body, or back of a
 text.</a:documentation>
      <ref name="div5.content"/>
      <ref name="div5.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div5.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:oneOrMore>
            <rng:choice>
              <rng:ref name="model.div6Like"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.div6Like"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div5.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div6">
    <element name="div6">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-6 text division) contains a sixth-level subdivision of the front, body, or back of a
 text.</a:documentation>
      <ref name="div6.content"/>
      <ref name="div6.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div6.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>
          <rng:oneOrMore>
            <rng:choice>
              <rng:ref name="model.div7Like"/>
              <rng:ref name="model.divGenLike"/>
            </rng:choice>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:group>
            <rng:oneOrMore>
              <rng:group>
                <rng:ref name="model.common"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="model.div7Like"/>
                <rng:ref name="model.divGenLike"/>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:zeroOrMore>
          </rng:group>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div6.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div7">
    <element name="div7">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(level-7 text division) contains the smallest possible subdivision of the front, body or
back of a text, larger than a paragraph.</a:documentation>
      <ref name="div7.content"/>
      <ref name="div7.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div7.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:oneOrMore>
          <rng:group>
            <rng:ref name="model.common"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:oneOrMore>
        <rng:zeroOrMore>
          <rng:group>
            <rng:ref name="model.divBottom"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="div7.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.divLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docAuthor">
    <element name="docAuthor">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(document author) contains the name of the author of the document, as given on the
title page (often but not always contained in a byline).</a:documentation>
      <ref name="docAuthor.content"/>
      <ref name="docAuthor.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docAuthor.content">
    <rng:ref name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docAuthor.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docDate">
    <element name="docDate">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(document date) contains the date of a document, as given
(usually) on a title page.</a:documentation>
      <ref name="docDate.content"/>
      <ref name="docDate.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docDate.content">
    <rng:ref name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docDate.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="when">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the value of the date in standard form, i.e. YYYY-MM-DD.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docEdition">
    <element name="docEdition">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(document edition) contains an edition statement as presented on a title page of a
document.</a:documentation>
      <ref name="docEdition.content"/>
      <ref name="docEdition.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docEdition.content">
    <rng:ref name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docEdition.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docImprint">
    <element name="docImprint">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(document imprint) contains the imprint statement (place and date of publication,
publisher name), as given
(usually) at the foot of a title page.</a:documentation>
      <ref name="docImprint.content"/>
      <ref name="docImprint.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docImprint.content">
    <rng:zeroOrMore>
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="pubPlace"/>
        <rng:ref name="docDate"/>
        <rng:ref name="publisher"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docImprint.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docTitle">
    <element name="docTitle">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(document title) contains the title of a document, including all its
constituents, as given on a title page.</a:documentation>
      <ref name="docTitle.content"/>
      <ref name="docTitle.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docTitle.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:oneOrMore>
        <rng:ref name="titlePart"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="docTitle.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="epigraph">
    <element name="epigraph">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a quotation, anonymous or attributed, appearing at
the start of a section or chapter, or on a title page. </a:documentation>
      <ref name="epigraph.content"/>
      <ref name="epigraph.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="epigraph.content">
    <rng:zeroOrMore>
      <rng:choice>
        <rng:ref name="model.common"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="epigraph.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="floatingText">
    <element name="floatingText">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single text of any kind, whether unitary or
composite, which interrupts the
text containing it at any point and after which the surrounding text
resumes.</a:documentation>
      <ref name="floatingText.content"/>
      <ref name="floatingText.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="floatingText.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="front"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:optional>
      <rng:choice>
        <rng:ref name="body"/>
        <rng:ref name="group"/>
      </rng:choice>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="back"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="floatingText.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declaring.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="front">
    <element name="front">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(front matter) contains any prefatory matter (headers,
title page, prefaces, dedications, etc.)
found  at the start of a document, before the main body.</a:documentation>
      <ref name="front.content"/>
      <ref name="front.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="front.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.frontPart"/>
          <rng:ref name="model.pLike.front"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:group>
        <rng:optional>
          <rng:choice>
            <rng:group>
              <rng:group>
                <rng:ref name="model.div1Like"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.frontPart"/>
                  <rng:ref name="model.div1Like"/>
                  <rng:ref name="model.global"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
            <rng:group>
              <rng:group>
                <rng:ref name="model.divLike"/>
              </rng:group>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.frontPart"/>
                  <rng:ref name="model.divLike"/>
                  <rng:ref name="model.global"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
          </rng:choice>
        </rng:optional>
      </rng:group>
      <rng:group>
        <rng:optional>
          <rng:group>
            <rng:ref name="model.divBottomPart"/>
          </rng:group>
          <rng:zeroOrMore>
            <rng:choice>
              <rng:ref name="model.divBottomPart"/>
              <rng:ref name="model.global"/>
            </rng:choice>
          </rng:zeroOrMore>
        </rng:optional>
      </rng:group>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="front.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="group">
    <element name="group">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the body of a composite text, grouping together a
sequence of distinct texts (or groups of such texts) which are regarded
as a unit for some purpose, for example the collected works of an
author, a sequence of prose essays, etc.</a:documentation>
      <ref name="group.content"/>
      <ref name="group.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="group.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divTop"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:group>
        <rng:choice>
          <rng:ref name="text"/>
          <rng:ref name="group"/>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:choice>
            <rng:ref name="text"/>
            <rng:ref name="group"/>
            <rng:ref name="model.global"/>
          </rng:choice>
        </rng:zeroOrMore>
      </rng:group>
      <rng:zeroOrMore>
        <rng:ref name="model.divBottom"/>
      </rng:zeroOrMore>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="group.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declaring.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="imprimatur">
    <element name="imprimatur">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a formal statement authorizing the publication of
a work, sometimes required to appear on a title page or its verso.</a:documentation>
      <ref name="imprimatur.content"/>
      <ref name="imprimatur.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="imprimatur.content">
    <rng:ref name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="imprimatur.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="opener">
    <element name="opener">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups together dateline, byline, salutation, and similar
phrases appearing as a preliminary group at the start of a
division, especially of a letter.</a:documentation>
      <ref name="opener.content"/>
      <ref name="opener.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="opener.content">
    <rng:zeroOrMore>
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="argument"/>
        <rng:ref name="byline"/>
        <rng:ref name="dateline"/>
        <rng:ref name="epigraph"/>
        <rng:ref name="salute"/>
        <rng:ref name="signed"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="opener.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="postscript">
    <element name="postscript">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a postscript, e.g. to a letter.</a:documentation>
      <ref name="postscript.content"/>
      <ref name="postscript.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="postscript.content">
    <rng:zeroOrMore>
      <rng:choice>
        <rng:group>
          <rng:ref name="model.common"/>
        </rng:group>
        <rng:group>
          <rng:ref name="model.global"/>
        </rng:group>
      </rng:choice>
    </rng:zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="postscript.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="salute">
    <element name="salute">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(salutation) contains a salutation or greeting prefixed to a foreword,
dedicatory epistle, or other division of a text, or the
salutation in the closing of a letter, preface, etc.</a:documentation>
      <ref name="salute.content"/>
      <ref name="salute.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="salute.content">
    <rng:ref name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="salute.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="signed">
    <element name="signed">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(signature) contains the closing salutation, etc., appended to a foreword,
dedicatory epistle, or other division of a text. </a:documentation>
      <ref name="signed.content"/>
      <ref name="signed.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="signed.content">
    <rng:ref name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="signed.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="text">
    <element name="text">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single text of any kind, whether unitary or
composite, for example a poem or drama, a collection of essays, a novel,
a dictionary, or a corpus sample.</a:documentation>
      <ref name="text.content"/>
      <ref name="text.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="text.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="front"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:optional>
      <rng:choice>
        <rng:ref name="body"/>
        <rng:ref name="group"/>
      </rng:choice>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="back"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:optional>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="text.localattributes">
    <rng:ref name="att.global.attributes"/>
    <ref name="att.declaring.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="titlePage">
    <element name="titlePage">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title page) contains the title page of a text, appearing within the front
or back matter. </a:documentation>
      <ref name="titlePage.content"/>
      <ref name="titlePage.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="titlePage.content">
    <rng:group>
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:group>
        <rng:ref name="model.titlepagePart"/>
      </rng:group>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.titlepagePart"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
    </rng:group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="titlePage.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the title page according to any convenient typology.</a:documentation>
        <ref name="data.enumerated"/>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="titlePart">
    <element name="titlePart">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a subsection or division of the title of a work, as
indicated on a title page.</a:documentation>
      <ref name="titlePart.content"/>
      <ref name="titlePart.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="titlePart.content">
    <rng:ref name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="titlePart.localattributes">
    <rng:ref name="att.global.attributes"/>
    <rng:optional>
      <rng:attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type" a:defaultValue="main">
        <a:documentation>specifies the role of this subdivision of the title.
Suggested values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)</a:documentation>
        <rng:choice>
          <rng:value>main</rng:value>
          <a:documentation>main title of the work
        </a:documentation>
          <rng:value>sub</rng:value>
          <a:documentation>(subordinate) subtitle  of the work
        </a:documentation>
          <rng:value>alt</rng:value>
          <a:documentation>(alternate) alternative title  of the work
        </a:documentation>
          <rng:value>short</rng:value>
          <a:documentation>abbreviated form of title</a:documentation>
          <rng:value>desc</rng:value>
          <a:documentation>(descriptive) descriptive paraphrase of the work 
   </a:documentation>
          <rng:data type="Name"/>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="trailer">
    <element name="trailer">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a closing title or footer appearing at the end of
a division of a text. </a:documentation>
      <ref name="trailer.content"/>
      <ref name="trailer.localattributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="trailer.content">
    <rng:ref name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="trailer.localattributes">
    <rng:ref name="att.global.attributes"/>
    <empty/>
  </define>
  <!--3. macros-->
</rng:grammar>
