oxygen/frameworks/tei/xml/tei/custom/schema/dtd/tei_tite.dtd


<!--
DTD Generated 2008-07-08T18:06:55Z. 
-->

<!-- start datatypes -->

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.global.linking.attributes ''>
<!ENTITY % att.pointing.attributes ''>
<!--end of predeclared classes -->

<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.period '
period CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.when '
when CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to CDATA #IMPLIED'>

<!ENTITY % att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>

<!ENTITY % att.duration.w3c.attribute.dur '
dur CDATA #IMPLIED'>

<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>

<!ENTITY % att.editLike.attribute.precision '
precision CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlbase '
xml:base CDATA #IMPLIED'>

<!ENTITY % att.internetMedia.attribute.mimeType '
mimeType CDATA #IMPLIED'>

<!ENTITY % att.measurement.attribute.unit '
unit CDATA #IMPLIED'>

<!ENTITY % att.measurement.attribute.quantity '
quantity CDATA #IMPLIED'>

<!ENTITY % att.measurement.attribute.commodity '
commodity CDATA  #IMPLIED'>

<!ENTITY % att.naming.attribute.key '
key CDATA #IMPLIED'>

<!ENTITY % att.naming.attribute.ref '
ref CDATA  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>

<!ENTITY % att.placement.attribute.place '
place CDATA #IMPLIED'>

<!ENTITY % att.tableDecoration.attribute.role '
role CDATA "data" '>

<!ENTITY % att.tableDecoration.attribute.rows '
rows CDATA "1" '>

<!ENTITY % att.tableDecoration.attribute.cols '
cols CDATA "1" '>

<!ENTITY % att.translatable.attribute.version '
version CDATA #IMPLIED'>

<!ENTITY % att.typed.attribute.type '
type CDATA #IMPLIED'>

<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "seg"> 
<!ENTITY % model.segLike_sequence "seg"> 
<!ENTITY % model.segLike_sequenceOptional "seg?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+"> 
<!ENTITY % model.hiLike "hi |
 b |
 i |
 ul |
 sub |
 sup |
 smcap"> 
<!ENTITY % model.hiLike_sequence "hi, b, i, ul, sub, sup, smcap"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?, b?, i?, ul?, sub?, sup?, smcap?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*, b*, i*, ul*, sub*, sup*, smcap*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+, b+, i+, ul+, sub+, sup+, smcap+"> 
<!ENTITY % model.emphLike "foreign |
 title"> 
<!ENTITY % model.emphLike_sequence "foreign, title"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |
 %model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date |
 time"> 
<!ENTITY % model.dateLike_sequence "date, time"> 
<!ENTITY % model.dateLike_sequenceOptional "date?, time?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*, time*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+, time+"> 
<!ENTITY % model.measureLike "num |
 measureGrp"> 
<!ENTITY % model.measureLike_sequence "num, measureGrp"> 
<!ENTITY % model.measureLike_sequenceOptional "num?, measureGrp?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*, measureGrp*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+, measureGrp+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic |
 formula"> 
<!ENTITY % model.graphicLike_sequence "graphic, formula"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?, formula?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*, formula*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+, formula+"> 
<!ENTITY % model.pPart.editorial "abbr"> 
<!ENTITY % model.pPart.editorial_sequence "abbr"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "abbr?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "abbr*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "abbr+"> 
<!ENTITY % model.pPart.transcriptional "unclear"> 
<!ENTITY % model.pPart.transcriptional_sequence "unclear"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "unclear?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "unclear*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "unclear+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |
 %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.ptrLike "ptr |
 ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.milestoneLike "milestone |
 pb |
 lb |
 cb |
 cols"> 
<!ENTITY % model.milestoneLike_sequence "milestone, pb, lb, cb, cols"> 
<!ENTITY % model.milestoneLike_sequenceOptional "milestone?, pb?, lb?, cb?, cols?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "milestone*, pb*, lb*, cb*, cols*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "milestone+, pb+, lb+, cb+, cols+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl"> 
<!ENTITY % model.biblLike_sequence "bibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |
 label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |
 listBibl"> 
<!ENTITY % model.listLike_sequence "list, listBibl"> 
<!ENTITY % model.listLike_sequenceOptional "list?, listBibl?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, listBibl*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, listBibl+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p |
 ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike "stage"> 
<!ENTITY % model.stageLike_sequence "stage"> 
<!ENTITY % model.stageLike_sequenceOptional "stage?"> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable "stage*"> 
<!ENTITY % model.stageLike_sequenceRepeatable "stage+"> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.entryPart.top "cit"> 
<!ENTITY % model.entryPart.top_sequence "cit"> 
<!ENTITY % model.entryPart.top_sequenceOptional "cit?"> 
<!ENTITY % model.entryPart.top_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.entryPart.top_sequenceRepeatable "cit+"> 
<!ENTITY % model.global.edit "gap"> 
<!ENTITY % model.global.edit_sequence "gap"> 
<!ENTITY % model.global.edit_sequenceOptional "gap?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "gap*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "gap+"> 
<!ENTITY % model.divPart "%model.lLike; |
 %model.pLike; |
 lg |
 sp |
 floatingText"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;, lg, sp, floatingText"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?, lg?, sp?, floatingText?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*, lg*, sp*, floatingText*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+, lg+, sp+, floatingText+"> 
<!ENTITY % model.personPart "bibl"> 
<!ENTITY % model.personPart_sequence "bibl"> 
<!ENTITY % model.personPart_sequenceOptional "bibl?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.personPart_sequenceRepeatable "bibl+"> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart "address |
 date |
 publisher |
 pubPlace |
 distributor |
 authority |
 idno |
 availability"> 
<!ENTITY % model.publicationStmtPart_sequence "address, date, publisher, pubPlace, distributor, authority, idno, availability"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "address?, date?, publisher?, pubPlace?, distributor?, authority?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "address*, date*, publisher*, pubPlace*, distributor*, authority*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "address+, date+, publisher+, pubPlace+, distributor+, authority+, idno+, availability+"> 
<!ENTITY % model.glossLike "desc"> 
<!ENTITY % model.glossLike_sequence "desc"> 
<!ENTITY % model.glossLike_sequenceOptional "desc?"> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.glossLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.quoteLike "cit"> 
<!ENTITY % model.quoteLike_sequence "cit"> 
<!ENTITY % model.quoteLike_sequenceOptional "cit?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "cit+"> 
<!ENTITY % model.qLike "%model.quoteLike; |
 said |
 q"> 
<!ENTITY % model.qLike_sequence "%model.quoteLike;, said, q"> 
<!ENTITY % model.qLike_sequenceOptional "%model.quoteLike;?, said?, q?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "%model.quoteLike;*, said*, q*"> 
<!ENTITY % model.qLike_sequenceRepeatable "%model.quoteLike;+, said+, q+"> 
<!ENTITY % model.respLike "author |
 editor |
 respStmt"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+"> 
<!ENTITY % model.divWrapper "byline |
 dateline |
 argument |
 epigraph |
 docAuthor |
 docDate"> 
<!ENTITY % model.divWrapper_sequence "byline, dateline, argument, epigraph, docAuthor, docDate"> 
<!ENTITY % model.divWrapper_sequenceOptional "byline?, dateline?, argument?, epigraph?, docAuthor?, docDate?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "byline*, dateline*, argument*, epigraph*, docAuthor*, docDate*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "byline+, dateline+, argument+, epigraph+, docAuthor+, docDate+"> 
<!ENTITY % model.divTopPart "%model.headLike; |
 opener |
 salute"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;, opener, salute"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?, opener?, salute?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*, opener*, salute*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+, opener+, salute+"> 
<!ENTITY % model.divTop "%model.divWrapper; |
 %model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.pLike.front "head |
 byline |
 argument |
 epigraph |
 docTitle |
 titlePart |
 docAuthor |
 docEdition |
 docImprint |
 docDate"> 
<!ENTITY % model.pLike.front_sequence "head, byline, argument, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+"> 
<!ENTITY % model.divBottomPart "trailer |
 closer |
 signed |
 postscript"> 
<!ENTITY % model.divBottomPart_sequence "trailer, closer, signed, postscript"> 
<!ENTITY % model.divBottomPart_sequenceOptional "trailer?, closer?, signed?, postscript?"> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable "trailer*, closer*, signed*, postscript*"> 
<!ENTITY % model.divBottomPart_sequenceRepeatable "trailer+, closer+, signed+, postscript+"> 
<!ENTITY % model.divBottom "%model.divWrapper; |
 %model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;, %model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?, %model.divBottomPart;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divBottomPart;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+, %model.divBottomPart;+"> 
<!ENTITY % model.titlepagePart "graphic |
 byline |
 epigraph |
 docTitle |
 titlePart |
 docAuthor |
 docEdition |
 docImprint |
 docDate |
 figure |
 ornament"> 
<!ENTITY % model.titlepagePart_sequence "graphic, byline, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate, figure, ornament"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?, byline?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?, figure?, ornament?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*, byline*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*, figure*, ornament*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+, byline+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+, figure+, ornament+"> 
<!ENTITY % model.msItemPart "%model.quoteLike; |
 %model.respLike; |
 title |
 bibl |
 listBibl"> 
<!ENTITY % model.msItemPart_sequence "%model.quoteLike;, %model.respLike;, title, bibl, listBibl"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.quoteLike;?, %model.respLike;?, title?, bibl?, listBibl?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.quoteLike;*, %model.respLike;*, title*, bibl*, listBibl*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.quoteLike;+, %model.respLike;+, title+, bibl+, listBibl+"> 
<!ENTITY % model.choicePart "unclear |
 abbr |
 seg"> 
<!ENTITY % model.choicePart_sequence "unclear, abbr, seg"> 
<!ENTITY % model.choicePart_sequenceOptional "unclear?, abbr?, seg?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "unclear*, abbr*, seg*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "unclear+, abbr+, seg+"> 
<!ENTITY % model.imprintPart "publisher |
 biblScope |
 pubPlace |
 distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+, distributor+"> 
<!ENTITY % model.catDescPart ""> 
<!ENTITY % model.catDescPart_sequence ""> 
<!ENTITY % model.catDescPart_sequenceOptional ""> 
<!ENTITY % model.catDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.catDescPart_sequenceRepeatable ""> 
<!ENTITY % model.addressLike "email |
 address"> 
<!ENTITY % model.addressLike_sequence "email, address"> 
<!ENTITY % model.addressLike_sequenceOptional "email?, address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "email*, address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "email+, address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+"> 
<!ENTITY % model.global "%model.milestoneLike; |
 %model.noteLike; |
 %model.global.edit;"> 
<!ENTITY % model.global_sequence "%model.milestoneLike;, %model.noteLike;, %model.global.edit;"> 
<!ENTITY % model.global_sequenceOptional "%model.milestoneLike;?, %model.noteLike;?, %model.global.edit;?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.milestoneLike;*, %model.noteLike;*, %model.global.edit;*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.milestoneLike;+, %model.noteLike;+, %model.global.edit;+"> 
<!ENTITY % model.featureVal ""> 
<!ENTITY % model.featureVal_sequence ""> 
<!ENTITY % model.featureVal_sequenceOptional ""> 
<!ENTITY % model.featureVal_sequenceOptionalRepeatable ""> 
<!ENTITY % model.featureVal_sequenceRepeatable ""> 
<!ENTITY % model.biblPart "%model.respLike; |
 %model.imprintPart; |
 relatedItem |
 edition |
 extent |
 idno"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, relatedItem, edition, extent, idno"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, relatedItem?, edition?, extent?, idno?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, relatedItem*, edition*, extent*, idno*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, relatedItem+, edition+, extent+, idno+"> 
<!ENTITY % model.frontPart "titlePage"> 
<!ENTITY % model.frontPart_sequence "titlePage"> 
<!ENTITY % model.frontPart_sequenceOptional "titlePage?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "titlePage*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "titlePage+"> 
<!ENTITY % model.addrPart "%model.nameLike; |
 addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |
 %model.measureLike; |
 %model.addressLike; |
 %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |
 %model.labelLike; |
 %model.listLike; |
 %model.stageLike; |
 %model.qLike; |
 table |
 figure |
 ornament"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;, %model.stageLike;, %model.qLike;, table, figure, ornament"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.stageLike;?, %model.qLike;?, table?, figure?, ornament?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.stageLike;*, %model.qLike;*, table*, figure*, ornament*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.stageLike;+, %model.qLike;+, table+, figure+, ornament+"> 
<!ENTITY % model.common "%model.divPart; |
 %model.inter; |
 ornament"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;, ornament"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?, ornament?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*, ornament*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+, ornament+"> 
<!ENTITY % model.phrase "%model.segLike; |
 %model.highlighted; |
 %model.graphicLike; |
 %model.pPart.edit; |
 %model.ptrLike; |
 %model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.edit;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.edit;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.edit;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.edit;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |
 %model.pPart.editorial; |
 %model.ptrLike; |
 %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.editorial;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike ""> 
<!ENTITY % model.divLike_sequence ""> 
<!ENTITY % model.divLike_sequenceOptional ""> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divLike_sequenceRepeatable ""> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like "div1"> 
<!ENTITY % model.div1Like_sequence "div1"> 
<!ENTITY % model.div1Like_sequenceOptional "div1?"> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable "div1*"> 
<!ENTITY % model.div1Like_sequenceRepeatable "div1+"> 
<!ENTITY % model.div2Like "div2"> 
<!ENTITY % model.div2Like_sequence "div2"> 
<!ENTITY % model.div2Like_sequenceOptional "div2?"> 
<!ENTITY % model.div2Like_sequenceOptionalRepeatable "div2*"> 
<!ENTITY % model.div2Like_sequenceRepeatable "div2+"> 
<!ENTITY % model.div3Like "div3"> 
<!ENTITY % model.div3Like_sequence "div3"> 
<!ENTITY % model.div3Like_sequenceOptional "div3?"> 
<!ENTITY % model.div3Like_sequenceOptionalRepeatable "div3*"> 
<!ENTITY % model.div3Like_sequenceRepeatable "div3+"> 
<!ENTITY % model.div4Like "div4"> 
<!ENTITY % model.div4Like_sequence "div4"> 
<!ENTITY % model.div4Like_sequenceOptional "div4?"> 
<!ENTITY % model.div4Like_sequenceOptionalRepeatable "div4*"> 
<!ENTITY % model.div4Like_sequenceRepeatable "div4+"> 
<!ENTITY % model.div5Like "div5"> 
<!ENTITY % model.div5Like_sequence "div5"> 
<!ENTITY % model.div5Like_sequenceOptional "div5?"> 
<!ENTITY % model.div5Like_sequenceOptionalRepeatable "div5*"> 
<!ENTITY % model.div5Like_sequenceRepeatable "div5+"> 
<!ENTITY % model.div6Like "div6"> 
<!ENTITY % model.div6Like_sequence "div6"> 
<!ENTITY % model.div6Like_sequenceOptional "div6?"> 
<!ENTITY % model.div6Like_sequenceOptionalRepeatable "div6*"> 
<!ENTITY % model.div6Like_sequenceRepeatable "div6+"> 
<!ENTITY % model.div7Like "div7"> 
<!ENTITY % model.div7Like_sequence "div7"> 
<!ENTITY % model.div7Like_sequenceOptional "div7?"> 
<!ENTITY % model.div7Like_sequenceOptionalRepeatable "div7*"> 
<!ENTITY % model.div7Like_sequenceRepeatable "div7+"> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % model.headerPart "encodingDesc |
 profileDesc"> 
<!ENTITY % model.headerPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.headerPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.headerPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.headerPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingPart "projectDesc |
 samplingDecl |
 editorialDecl |
 refsDecl |
 classDecl |
 appInfo |
 geoDecl"> 
<!ENTITY % model.encodingPart_sequence "projectDesc, samplingDecl, editorialDecl, refsDecl, classDecl, appInfo, geoDecl"> 
<!ENTITY % model.encodingPart_sequenceOptional "projectDesc?, samplingDecl?, editorialDecl?, refsDecl?, classDecl?, appInfo?, geoDecl?"> 
<!ENTITY % model.encodingPart_sequenceOptionalRepeatable "projectDesc*, samplingDecl*, editorialDecl*, refsDecl*, classDecl*, appInfo*, geoDecl*"> 
<!ENTITY % model.encodingPart_sequenceRepeatable "projectDesc+, samplingDecl+, editorialDecl+, refsDecl+, classDecl+, appInfo+, geoDecl+"> 
<!ENTITY % model.editorialDeclPart ""> 
<!ENTITY % model.editorialDeclPart_sequence ""> 
<!ENTITY % model.editorialDeclPart_sequenceOptional ""> 
<!ENTITY % model.editorialDeclPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.editorialDeclPart_sequenceRepeatable ""> 
<!ENTITY % model.applicationLike "application"> 
<!ENTITY % model.applicationLike_sequence "application"> 
<!ENTITY % model.applicationLike_sequenceOptional "application?"> 
<!ENTITY % model.applicationLike_sequenceOptionalRepeatable "application*"> 
<!ENTITY % model.applicationLike_sequenceRepeatable "application+"> 
<!ENTITY % model.profileDescPart "langUsage |
 textClass"> 
<!ENTITY % model.profileDescPart_sequence "langUsage, textClass"> 
<!ENTITY % model.profileDescPart_sequenceOptional "langUsage?, textClass?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "langUsage*, textClass*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "langUsage+, textClass+"> 
<!ENTITY % att.pointing.attribute.type '
type CDATA #IMPLIED'>

<!ENTITY % att.pointing.attribute.evaluate '
evaluate (all|
one|
none) #IMPLIED'>

<!-- start predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 %model.global;)*' >

<!ENTITY % macro.limitedContent '( #PCDATA |
 %model.limitedPhrase; |
 %model.inter;)*' >

<!ENTITY % macro.phraseSeq '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '( #PCDATA |
 %model.limitedPhrase; |
 %model.global;)*' >

<!ENTITY % macro.specialPara '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 %model.divPart; |
 %model.global;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element. -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?) |
 text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
version CDATA "5.0"  >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as
an anonymous container for phrase or inter level elements analogous to, but
without the semantic baggage of, a paragraph. -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ab
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
part (Y|
N|
I|
M|
F) "N"  >
<!--doc:(abbreviation) contains an abbreviation of any sort. -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED >
<!--doc:(address line) contains one line of a postal address. -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a postal  address, for example of a
publisher, an organization, or an individual. -->
<!ELEMENT address ((%model.global;)*,((%model.addrPart;),(%model.global;)*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(application information) records information about an application which has
  edited the TEI file.  -->
<!ELEMENT appInfo (%model.applicationLike;)+>
<!ATTLIST appInfo xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST appInfo
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:provides information about an application which has acted
  upon the document. -->
<!ELEMENT application ((%model.labelLike;)+,((%model.ptrLike;)* |
 (%model.pLike;)*))>
<!ATTLIST application xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST application
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.datable.w3c.attribute.period;
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.notBefore;
 %att.datable.w3c.attribute.notAfter;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;
ident CDATA #REQUIRED
version CDATA #REQUIRED >
<!--doc:A formal list or prose description of the topics addressed by
	a subdivision of a text. -->
<!ELEMENT argument ((%model.global; |
 %model.headLike;)*,((%model.common;),(%model.global;)*)+)>
<!ATTLIST argument xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST argument
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:in a bibliographic reference, contains the name of the author(s),
personal or corporate,
of a work; the primary statement of responsibility for any
bibliographic item.  -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(release authority) supplies the name of a person or other agency responsible for
  making an electronic file available, other than a publisher or
  distributor. -->
<!ELEMENT authority %macro.phraseSeq.limited;>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:supplies information about the availability of a text, for
  example any restrictions on its use or distribution, its copyright
  status, etc. -->
<!ELEMENT availability (%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
status (free|
unknown|
restricted) "unknown"  >
<!--doc: -->
<!ELEMENT b %macro.paraContent;>
<!ATTLIST b xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST b
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a
    text. -->
<!ELEMENT back ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,(((%model.div1Like;),(%model.frontPart; |
 %model.div1Like; |
 %model.global;)*) |
 (_DUMMY_model.divLike,(%model.frontPart; |
 _DUMMY_model.divLike |
 %model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart; |
 %model.global;)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which
the sub-components may or may not be explicitly tagged.  -->
<!ELEMENT bibl ( #PCDATA |
 _DUMMY_model.gLike |
 %model.highlighted; |
 %model.pPart.data; |
 %model.pPart.edit; |
 %model.segLike; |
 %model.ptrLike; |
 %model.biblPart; |
 %model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type; >
<!--doc:(scope of citation) defines the scope of a bibliographic reference, for example as a
list of page numbers, or a named subdivision of a larger work. -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. -->
<!ELEMENT body ((%model.global;)*,((%model.divTop;),(%model.global; |
 %model.divTop;)*)?,(_DUMMY_model.divGenLike,(%model.global; |
 _DUMMY_model.divGenLike)*)?,((_DUMMY_model.divLike,(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 ((%model.div1Like;),(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 (((%model.common;),(%model.global;)*)+,((_DUMMY_model.divLike,(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 ((%model.div1Like;),(%model.global; |
 _DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls; >
<!--doc:contains the primary statement of responsibility given for a work
on its title page or at the head or end of the work. -->
<!ELEMENT byline ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 docAuthor |
 %model.global;)*>
<!ATTLIST byline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST byline
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(canonical reference pattern) specifies an expression and replacement pattern for
  transforming a canonical reference into a URI.  -->
<!ELEMENT cRefPattern (%model.pLike;)*>
<!ATTLIST cRefPattern xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cRefPattern
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
matchPattern CDATA #REQUIRED
replacementPattern CDATA #REQUIRED >
<!--doc:(category description) describes some category within a taxonomy
or text typology, either in the form of a brief prose description
or in terms of the situational parameters used by the TEI
formal textDesc. -->
<!ELEMENT catDesc ( #PCDATA |
 %model.limitedPhrase; |
 _DUMMY_model.catDescPart)*>
<!ATTLIST catDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(category reference) specifies one or more defined categories
within some taxonomy or text typology. -->
<!ELEMENT catRef EMPTY>
<!ATTLIST catRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catRef
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
target CDATA  #REQUIRED
scheme CDATA #IMPLIED >
<!--doc:contains an individual descriptive category, possibly nested
within a superordinate category, within a user-defined taxonomy. -->
<!ELEMENT category ((catDesc |
 (%model.glossLike;)*),category*)>
<!ATTLIST category xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST category
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(column break) marks the boundary between one column of a text and the next
in a standard reference system. -->
<!ELEMENT cb EMPTY>
<!ATTLIST cb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cb
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ed CDATA #IMPLIED >
<!--doc:contains one cell of a table.  -->
<!ELEMENT cell %macro.paraContent;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.tableDecoration.attribute.role;
 %att.tableDecoration.attribute.rows;
 %att.tableDecoration.attribute.cols; >
<!--doc:summarizes a particular change or correction made
to a particular version of an electronic text which is
shared between several researchers. -->
<!ELEMENT change ( #PCDATA |
 %model.limitedPhrase; |
 %model.inter; |
 %model.global;)*>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.ascribed.attribute.who;
when CDATA #IMPLIED >
<!--doc:(cited quotation) contains a quotation from some other document, together with a
  bibliographic reference to its source.  In a dictionary it may
  contain an example text with at least one occurrence of the word
  form, used in the sense being described, or a translation of the
  headword, or an example.  -->
<!ELEMENT cit (%model.qLike; |
 %model.biblLike; |
 %model.ptrLike; |
 %model.global; |
 _DUMMY_model.entryPart)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cit
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type; >
<!--doc:(classification code) contains the classification code used for this text in some
standard classification system. -->
<!ELEMENT classCode %macro.phraseSeq.limited;>
<!ATTLIST classCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classCode
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
scheme CDATA #REQUIRED >
<!--doc:(classification declarations) contains one or more taxonomies defining any classificatory
codes used elsewhere in the text. -->
<!ELEMENT classDecl (taxonomy)+>
<!ATTLIST classDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classDecl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:groups together salutations, datelines, and similar
phrases appearing as a final group at the end of a
division, especially of a letter. -->
<!ELEMENT closer ( #PCDATA |
 _DUMMY_model.gLike |
 signed |
 dateline |
 salute |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST closer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST closer
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc: -->
<!ELEMENT cols EMPTY>
<!ATTLIST cols xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST cols
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ed CDATA #IMPLIED >
<!--doc:contains information about the creation of a text. -->
<!ELEMENT creation %macro.phraseSeq.limited;>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a date in any format. -->
<!ELEMENT date ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.datable.w3c.attribute.period;
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.notBefore;
 %att.datable.w3c.attribute.notAfter;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;
 %att.editLike.attribute.source;
 %att.editLike.attribute.precision;
 %att.typed.attribute.type;
calendar CDATA #IMPLIED >
<!--doc:contains a brief description of the place, date, time, etc. of
	production of a letter, newspaper story, or other work, prefixed or
	suffixed to it as a kind of heading or trailer.  -->
<!ELEMENT dateline %macro.phraseSeq;>
<!ATTLIST dateline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dateline
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(description) contains a brief description of the intended usage, purpose,
  or application of its parent element. -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.translatable.attribute.version; >
<!--doc:supplies the name of a person or other agency responsible for the
distribution of a text. -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(level-1 text division) contains a first-level subdivision of the front, body, or back
of a text. -->
<!ELEMENT div1 ((%model.divTop; |
 %model.global;)*,((((%model.div2Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div2Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div1 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div1
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(level-2 text division) contains a second-level subdivision of the front, body, or back of a
 text. -->
<!ELEMENT div2 ((%model.divTop; |
 %model.global;)*,((((%model.div3Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div3Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div2 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div2
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(level-3 text division) contains a third-level subdivision of the front, body, or back of a
 text. -->
<!ELEMENT div3 ((%model.divTop; |
 %model.global;)*,((((%model.div4Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div4Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div3 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div3
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(level-4 text division) contains a fourth-level subdivision of the front, body, or back of a
 text. -->
<!ELEMENT div4 ((%model.divTop; |
 %model.global;)*,((((%model.div5Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div5Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div4 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div4
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(level-5 text division) contains a fifth-level subdivision of the front, body, or back of a
 text. -->
<!ELEMENT div5 ((%model.divTop; |
 %model.global;)*,((((%model.div6Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div6Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div5 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div5
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(level-6 text division) contains a sixth-level subdivision of the front, body, or back of a
 text. -->
<!ELEMENT div6 ((%model.divTop; |
 %model.global;)*,((((%model.div7Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div7Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div6 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div6
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(level-7 text division) contains the smallest possible subdivision of the front, body or
back of a text, larger than a paragraph. -->
<!ELEMENT div7 ((%model.divTop; |
 %model.global;)*,(((%model.common;),(%model.global;)*)+,((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div7 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div7
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.declaring.attribute.decls; >
<!--doc:(document author) contains the name of the author of the document, as given on the
title page (often but not always contained in a byline). -->
<!ELEMENT docAuthor %macro.phraseSeq;>
<!ATTLIST docAuthor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docAuthor
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(document date) contains the date of a document, as given
(usually) on a title page. -->
<!ELEMENT docDate %macro.phraseSeq;>
<!ATTLIST docDate xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docDate
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
when CDATA #IMPLIED >
<!--doc:(document edition) contains an edition statement as presented on a title page of a
document. -->
<!ELEMENT docEdition %macro.paraContent;>
<!ATTLIST docEdition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docEdition
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(document imprint) contains the imprint statement (place and date of publication,
publisher name), as given
(usually) at the foot of a title page. -->
<!ELEMENT docImprint ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 pubPlace |
 docDate |
 publisher |
 %model.global;)*>
<!ATTLIST docImprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docImprint
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(document title) contains the title of a document, including all its
constituents, as given on a title page. -->
<!ELEMENT docTitle ((%model.global;)*,(titlePart,(%model.global;)*)+)>
<!ATTLIST docTitle xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docTitle
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(edition) describes the particularities of one edition of a text. -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(edition statement) groups information relating to one edition of a text. -->
<!ELEMENT editionStmt ((%model.pLike;)+ |
 (edition,respStmt*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:secondary statement of responsibility for a
bibliographic item, for example the name of an individual, institution
or organization, (or of several such) acting as editor, compiler,
translator, etc.  -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
role CDATA "editor"  >
<!--doc:(editorial practice declaration) provides details of editorial principles and practices applied
during the encoding of a text. -->
<!ELEMENT editorialDecl ((%model.pLike;)+ |
 _DUMMY_model.editorialDeclPart+)>
<!ATTLIST editorialDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editorialDecl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(electronic mail address) contains an e-mail address identifying a location to which
e-mail messages can be delivered.
		 -->
<!ELEMENT email %macro.phraseSeq;>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST email
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(encoding description) documents the relationship between an electronic text and the
source or sources from which it was derived. -->
<!ELEMENT encodingDesc (%model.encodingPart; |
 %model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a quotation, anonymous or attributed, appearing at
the start of a section or chapter, or on a title page.  -->
<!ELEMENT epigraph (%model.common; |
 %model.global;)*>
<!ATTLIST epigraph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST epigraph
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:describes the approximate size of a text as stored on
some carrier medium, whether digital or non-digital, specified in any convenient units. -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:groups elements representing or containing graphic information
  such as an illustration or figure. -->
<!ELEMENT figure (%model.headLike; |
 %model.pLike; |
 %model.graphicLike; |
 _DUMMY_model.egLike |
 floatingText |
 figure |
 %model.global;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.placement.attribute.place; >
<!--doc:(file description) contains a full bibliographic description of an electronic
file. -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a single text of any kind, whether unitary or
composite, which interrupts the
text containing it at any point and after which the surrounding text
resumes. -->
<!ELEMENT floatingText ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST floatingText xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST floatingText
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls;
 %att.typed.attribute.type; >
<!--doc:(foreign) identifies a word or phrase as belonging to some language other
than that of the surrounding text.  -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a mathematical or other formula. -->
<!ELEMENT formula ( #PCDATA |
 %model.graphicLike;)*>
<!ATTLIST formula xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST formula
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
notation CDATA #IMPLIED >
<!--doc:(front matter) contains any prefatory matter (headers,
title page, prefaces, dedications, etc.)
found  at the start of a document, before the main body. -->
<!ELEMENT front ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,(((%model.div1Like;),(%model.frontPart; |
 %model.div1Like; |
 %model.global;)*) |
 (_DUMMY_model.divLike,(%model.frontPart; |
 _DUMMY_model.divLike |
 %model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart; |
 %model.global;)*)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization
responsible for the funding of a project or text. -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:indicates a point where material has been omitted in a
transcription, whether for editorial reasons described in the TEI
header, as part of sampling practice, or because the material is
illegible, invisible, or inaudible. -->
<!ELEMENT gap (%model.glossLike;)*>
<!ATTLIST gap xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gap
reason CDATA  #IMPLIED
unit CDATA #IMPLIED
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.editLike.attribute.source;
 %att.editLike.attribute.precision; >
<!--doc:(geographic coordinates declaration) documents the notation and the datum used for geographic
  coordinates expressed as content of the geo element
  elsewhere within the document. -->
<!ELEMENT geoDecl %macro.phraseSeq;>
<!ATTLIST geoDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST geoDecl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
datum CDATA "WGS84"  >
<!--doc:indicates the location of an inline graphic, illustration, or figure. -->
<!ELEMENT graphic EMPTY>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.internetMedia.attribute.mimeType;
 %att.declaring.attribute.decls;
width CDATA #IMPLIED
height CDATA #IMPLIED
scale CDATA #IMPLIED
url CDATA #IMPLIED >
<!--doc:contains the body of a composite text, grouping together a
sequence of distinct texts (or groups of such texts) which are regarded
as a unit for some purpose, for example the collected works of an
author, a sequence of prose essays, etc. -->
<!ELEMENT group ((%model.divTop; |
 %model.global;)*,((text |
 group),(text |
 group |
 %model.global;)*),(%model.divBottom;)*)>
<!ATTLIST group xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST group
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls; >
<!--doc:(heading) contains any type of heading, for example the title of a section,
or the heading of a list, glossary, manuscript description, etc. -->
<!ELEMENT head %macro.paraContent;>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type; >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the
surrounding text, for reasons concerning which no claim is
made.  -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc: -->
<!ELEMENT i %macro.paraContent;>
<!ATTLIST i xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST i
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(identifying number) supplies any standard or non-standard number used to identify a
bibliographic item. -->
<!ELEMENT idno  (#PCDATA)>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED >
<!--doc:contains one
component of a list. -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a list of keywords or phrases identifying the topic or
nature of a text. -->
<!ELEMENT keywords (list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
scheme CDATA #REQUIRED >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. -->
<!ELEMENT l %macro.paraContent;>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
part (Y|
N|
I|
M|
F) "N"  >
<!--doc:contains the label associated with an item in a list; in
glossaries, marks the term being defined. -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc.
represented within a text. -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:characterizes a single language or sublanguage used within a
  text. -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ident CDATA #REQUIRED
usage CDATA #IMPLIED >
<!--doc:(line break) marks the start of a new (typographic) line in some
edition or version of a text. -->
<!ELEMENT lb EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ed CDATA #IMPLIED >
<!--doc:(line group) contains a group of verse lines functioning as a formal unit,
e.g. a stanza, refrain, verse paragraph, etc. -->
<!ELEMENT lg ((%model.divTop; |
 %model.global;)*,(%model.lLike; |
 lg),(%model.lLike; |
 lg |
 %model.global;)*,((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST lg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lg
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type; >
<!--doc:contains any sequence of items organized as a list. -->
<!ELEMENT list (((%model.divTop;) |
 (%model.global;))*,((item,(%model.global;)*)+ |
 (label,(%model.global;)*,item,(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA "simple"  >
<!--doc:(citation list) contains a list of bibliographic citations of any kind.  -->
<!ELEMENT listBibl ((%model.headLike;)*,(%model.biblLike; |
 listBibl)+)>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type; >
<!--doc:(measure group) contains a group of dimensional specifications which relate to
  the same object, for example the height and width of a manuscript page. -->
<!ELEMENT measureGrp ( #PCDATA |
 _DUMMY_model.gLike |
 %model.measureLike;)*>
<!ATTLIST measureGrp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST measureGrp
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.measurement.attribute.unit;
 %att.measurement.attribute.quantity;
 %att.measurement.attribute.commodity;
 %att.typed.attribute.type; >
<!--doc:marks a boundary point separating  any kind of section of a
  text, typically but not necessarily  indicating a point at which
  some part of  a standard reference system changes, where the change
  is not represented by a structural element. -->
<!ELEMENT milestone EMPTY>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ed CDATA #IMPLIED
unit CDATA #REQUIRED >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.naming.attribute.key;
 %att.naming.attribute.ref;
 %att.naming.attribute.nymRef;
type CDATA #IMPLIED >
<!--doc:contains a note or annotation. -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.placement.attribute.place;
type CDATA #IMPLIED
resp CDATA #IMPLIED
anchored CDATA "true" 
target CDATA  #IMPLIED
targetEnd CDATA  #IMPLIED >
<!--doc:(notes statement) collects together any notes providing information about a text
additional to that recorded in other parts of the bibliographic
description. -->
<!ELEMENT notesStmt (%model.noteLike;)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(number) contains a number, written in any form. -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED
value CDATA #IMPLIED >
<!--doc:groups together dateline, byline, salutation, and similar
phrases appearing as a preliminary group at the start of a
division, especially of a letter. -->
<!ELEMENT opener ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 argument |
 byline |
 dateline |
 epigraph |
 salute |
 signed |
 %model.global;)*>
<!ATTLIST opener xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST opener
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc: -->
<!ELEMENT ornament  (#PCDATA)>
<!ATTLIST ornament xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST ornament
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(paragraph) marks paragraphs in prose. -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(page break) marks the boundary between one page of a text and the next
in a standard reference system. -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ed CDATA #IMPLIED >
<!--doc:contains a postscript, e.g. to a letter. -->
<!ELEMENT postscript ((%model.common;) |
 (%model.global;))*>
<!ATTLIST postscript xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postscript
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(principal researcher) supplies the name of the principal researcher responsible for the
creation of an electronic text. -->
<!ELEMENT principal %macro.phraseSeq.limited;>
<!ATTLIST principal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST principal
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a
text, specifically the languages and sublanguages used, the situation in
which it was produced, the participants and their setting. -->
<!ELEMENT profileDesc (creation?,(%model.profileDescPart;)*)>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic
file was encoded, together with any other relevant information
concerning the process by which it was assembled or collected. -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(pointer) defines a pointer to another location. -->
<!ELEMENT ptr EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.pointing.attribute.type;
 %att.pointing.attribute.evaluate;
 %att.declaring.attribute.decls;
target CDATA  #IMPLIED
cRef CDATA  #IMPLIED >
<!--doc:(publication place) contains the name of the place where a bibliographic item was
published. -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.naming.attribute.key;
 %att.naming.attribute.ref;
 %att.naming.attribute.nymRef; >
<!--doc:(publication statement) groups information concerning the publication or distribution
of an electronic or other text.  -->
<!ELEMENT publicationStmt ((%model.pLike;)+ |
 (%model.publicationStmtPart;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:provides the name of the organization responsible for
the publication or distribution of a bibliographic item. -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(separated from the surrounding text with quotation
  marks) contains material which is marked as (ostensibly)
  being somehow different than the surrounding text, for any
  one of a variety of reasons including, but not limited to:
  direct speech or thought, technical terms or jargon,
  authorial distance, quotations from elsewhere, and passages
  that are mentioned but not used. -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.ascribed.attribute.who;
type CDATA #IMPLIED >
<!--doc:(reference) defines a reference to another location, possibly
  modified by additional text or comment. -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.pointing.attribute.type;
 %att.pointing.attribute.evaluate;
 %att.declaring.attribute.decls;
target CDATA  #IMPLIED
cRef CDATA  #IMPLIED >
<!--doc:(reference state) specifies one component of a canonical reference defined by
the milestone method. -->
<!ELEMENT refState EMPTY>
<!ATTLIST refState xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refState
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
ed CDATA #IMPLIED
unit CDATA #REQUIRED
length CDATA #IMPLIED
delim CDATA #IMPLIED >
<!--doc:(references declaration) specifies how canonical references are constructed for this
  text. -->
<!ELEMENT refsDecl ((%model.pLike;)+ |
 cRefPattern+ |
 refState+)>
<!ATTLIST refsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refsDecl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains or references some other bibliographic item which is
related to the present one in some specified manner, for example as a
constituent or alternative version of it. -->
<!ELEMENT relatedItem (%model.biblLike; |
 %model.ptrLike;)>
<!ATTLIST relatedItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST relatedItem
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type; >
<!--doc:(responsibility) contains a phrase describing the nature of a person's
  intellectual responsibility. -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or
  series, where the specialized elements for authors, editors, etc. do
  not suffice or do not apply. -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+) |
 ((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(revision description) summarizes the revision history for a file. -->
<!ELEMENT revisionDesc (list |
 change+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains one row of a table.  -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.tableDecoration.attribute.role;
 %att.tableDecoration.attribute.rows;
 %att.tableDecoration.attribute.cols; >
<!--doc:(speech or thought) indicates passages thought or spoken aloud, whether
  explicitly indicated in the source or not, whether directly
  or indirectly reported, whether by real people or
  fictional characters. -->
<!ELEMENT said %macro.specialPara;>
<!ATTLIST said xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST said
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.ascribed.attribute.who;
aloud CDATA "unknown" 
direct CDATA "true"  >
<!--doc:(salutation) contains a salutation or greeting prefixed to a foreword,
dedicatory epistle, or other division of a text, or the
salutation in the closing of a letter, preface, etc. -->
<!ELEMENT salute %macro.phraseSeq;>
<!ATTLIST salute xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST salute
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(sampling declaration) contains a prose description of the rationale and methods used
in sampling texts in the creation of a corpus or collection. -->
<!ELEMENT samplingDecl (%model.pLike;)+>
<!ATTLIST samplingDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST samplingDecl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(arbitrary segment) represents any  segmentation of text below the
  chunk level. -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
subtype CDATA #IMPLIED >
<!--doc:(series statement) groups information about the series, if any, to which
a publication belongs. -->
<!ELEMENT seriesStmt ((%model.pLike;)+ |
 (title+,(idno |
 respStmt)*))>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(signature) contains the closing salutation, etc., appended to a foreword,
dedicatory epistle, or other division of a text.  -->
<!ELEMENT signed %macro.phraseSeq;>
<!ATTLIST signed xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST signed
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc: -->
<!ELEMENT smcap %macro.paraContent;>
<!ATTLIST smcap xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST smcap
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(source description) supplies a description of the source text(s) from
which an electronic text was derived or generated. -->
<!ELEMENT sourceDesc ((%model.pLike;)+ |
 (%model.biblLike; |
 _DUMMY_model.sourceDescPart |
 %model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(speech) An individual speech in a performance text, or a passage
	  presented as such in a prose or verse text. -->
<!ELEMENT sp ((%model.global;)*,(speaker,(%model.global;)*)?,((%model.lLike; |
 lg |
 %model.pLike; |
 %model.stageLike; |
 %model.qLike;),(%model.global;)*)+)>
<!ATTLIST sp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sp
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.ascribed.attribute.who; >
<!--doc:A specialized form of heading or label, giving the name of
one or more speakers in a dramatic text or fragment. -->
<!ELEMENT speaker %macro.phraseSeq;>
<!ATTLIST speaker xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST speaker
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:specifies the name of a sponsoring organization or
institution. -->
<!ELEMENT sponsor %macro.phraseSeq.limited;>
<!ATTLIST sponsor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sponsor
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(stage direction) contains any kind of stage direction within a dramatic text or
fragment. -->
<!ELEMENT stage %macro.specialPara;>
<!ATTLIST stage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stage
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT sub %macro.paraContent;>
<!ATTLIST sub xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST sub
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc: -->
<!ELEMENT sup %macro.paraContent;>
<!ATTLIST sup xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST sup
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains text displayed in tabular form, in
rows and columns. -->
<!ELEMENT table ((%model.headLike; |
 %model.global;)*,(row,(%model.global;)*)+)>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
rows CDATA #IMPLIED
cols CDATA #IMPLIED >
<!--doc:defines a typology used to classify texts either implicitly, by
means of a bibliographic citation, or explicitly by a structured
taxonomy. -->
<!ELEMENT taxonomy ((%model.glossLike;)* |
 category+ |
 ((%model.biblLike;),category*))>
<!ATTLIST taxonomy xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST taxonomy
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:(TEI Header) supplies the descriptive and declarative information making
	up an electronic title page prefixed to every TEI-conformant
	text. -->
<!ELEMENT teiHeader (fileDesc,(%model.headerPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA "text"  >
<!--doc:contains a single text of any kind, whether unitary or
composite, for example a poem or drama, a collection of essays, a novel,
a dictionary, or a corpus sample. -->
<!ELEMENT text ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls;
 %att.typed.attribute.type; >
<!--doc:(text classification) groups information which describes the nature or topic of a text
in terms of a standard classification scheme, thesaurus, etc. -->
<!ELEMENT textClass (classCode |
 catRef |
 keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a phrase defining a time of day in any format. -->
<!ELEMENT time ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST time xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST time
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.datable.w3c.attribute.period;
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.notBefore;
 %att.datable.w3c.attribute.notAfter;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;
 %att.editLike.attribute.source;
 %att.editLike.attribute.precision;
 %att.typed.attribute.type; >
<!--doc:contains the full title of a work of any kind. -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
level (a|
m|
j|
s|
u) #IMPLIED
type CDATA #IMPLIED >
<!--doc:(title page) contains the title page of a text, appearing within the front
or back matter.  -->
<!ELEMENT titlePage ((%model.global;)*,(%model.titlepagePart;),(%model.titlepagePart; |
 %model.global;)*)>
<!ATTLIST titlePage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePage
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED >
<!--doc:contains a subsection or division of the title of a work, as
indicated on a title page. -->
<!ELEMENT titlePart %macro.paraContent;>
<!ATTLIST titlePart xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePart
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
type CDATA "main"  >
<!--doc:(title statement) groups information about the title of a work and those
responsible for its intellectual content. -->
<!ELEMENT titleStmt (title+,(author |
 editor |
 sponsor |
 funder |
 principal |
 respStmt)*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a closing title or footer appearing at the end of
a division of a text.  -->
<!ELEMENT trailer %macro.phraseSeq;>
<!ATTLIST trailer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST trailer
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc: -->
<!ELEMENT ul %macro.paraContent;>
<!ATTLIST ul xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST ul
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase; >
<!--doc:contains a word, phrase, or passage which cannot be transcribed
with certainty because it is illegible or inaudible in the source. -->
<!ELEMENT unclear %macro.paraContent;>
<!ATTLIST unclear xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST unclear
reason CDATA  #IMPLIED
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlbase;
 %att.editLike.attribute.source;
 %att.editLike.attribute.precision; >
<!-- end elements -->
