oxygen/frameworks/tei/xml/tei/custom/schema/dtd/tei_bare.dtd


<!--
DTD Generated 2008-07-08T18:02:49Z. 
This template file is freely available and you are hereby
            authorised to copy, modify, and redistribute it in any way without
            further reference or permissions.
When making such modifications, you are strongly recommended to
            change the present text to include an accurate statement of the
            licencing conditions applicable to your modified text.
-->

<!-- start datatypes -->

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!--end of predeclared classes -->

<!ENTITY % att.datable.w3c.attribute.period '
period CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.when '
when CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to CDATA #IMPLIED'>

<!ENTITY % att.declarable.attribute.default '
default (true|
false) "false" '>

<!ENTITY % att.duration.w3c.attribute.dur '
dur CDATA #IMPLIED'>

<!ENTITY % att.editLike.attribute.cert '
cert CDATA #IMPLIED'>

<!ENTITY % att.editLike.attribute.resp '
resp CDATA  #IMPLIED'>

<!ENTITY % att.editLike.attribute.evidence '
evidence CDATA #IMPLIED'>

<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>

<!ENTITY % att.editLike.attribute.precision '
precision CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.rendition '
rendition CDATA  #IMPLIED'>

<!ENTITY % att.naming.attribute.key '
key CDATA #IMPLIED'>

<!ENTITY % att.naming.attribute.ref '
ref CDATA  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>

<!ENTITY % att.typed.attribute.type '
type CDATA #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype CDATA #IMPLIED'>

<!ENTITY % model.emphLike "title"> 
<!ENTITY % model.emphLike_sequence "title"> 
<!ENTITY % model.emphLike_sequenceOptional "title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike ""> 
<!ENTITY % model.biblLike_sequence ""> 
<!ENTITY % model.biblLike_sequenceOptional ""> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.biblLike_sequenceRepeatable ""> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "label"> 
<!ENTITY % model.labelLike_sequence "label"> 
<!ENTITY % model.labelLike_sequenceOptional "label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "label+"> 
<!ENTITY % model.listLike "list"> 
<!ENTITY % model.listLike_sequence "list"> 
<!ENTITY % model.listLike_sequenceOptional "list?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+"> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.personPart ""> 
<!ENTITY % model.personPart_sequence ""> 
<!ENTITY % model.personPart_sequenceOptional ""> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.personPart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart ""> 
<!ENTITY % model.publicationStmtPart_sequence ""> 
<!ENTITY % model.publicationStmtPart_sequenceOptional ""> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "author"> 
<!ENTITY % model.respLike_sequence "author"> 
<!ENTITY % model.respLike_sequenceOptional "author?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+"> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divTopPart;+"> 
<!ENTITY % model.pLike.front "head"> 
<!ENTITY % model.pLike.front_sequence "head"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+"> 
<!ENTITY % model.divBottomPart "postscript"> 
<!ENTITY % model.divBottomPart_sequence "postscript"> 
<!ENTITY % model.divBottomPart_sequenceOptional "postscript?"> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable "postscript*"> 
<!ENTITY % model.divBottomPart_sequenceRepeatable "postscript+"> 
<!ENTITY % model.divBottom "%model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequence "%model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divBottomPart;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divBottomPart;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divBottomPart;+"> 
<!ENTITY % model.msItemPart "%model.respLike; |
 title"> 
<!ENTITY % model.msItemPart_sequence "%model.respLike;, title"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.respLike;?, title?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.respLike;*, title*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.respLike;+, title+"> 
<!ENTITY % model.nameLike ""> 
<!ENTITY % model.nameLike_sequence ""> 
<!ENTITY % model.nameLike_sequenceOptional ""> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike_sequenceRepeatable ""> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.featureVal ""> 
<!ENTITY % model.featureVal_sequence ""> 
<!ENTITY % model.featureVal_sequenceOptional ""> 
<!ENTITY % model.featureVal_sequenceOptionalRepeatable ""> 
<!ENTITY % model.featureVal_sequenceRepeatable ""> 
<!ENTITY % model.biblPart "%model.respLike; |
 extent"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, extent"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, extent?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, extent*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, extent+"> 
<!ENTITY % model.frontPart ""> 
<!ENTITY % model.frontPart_sequence ""> 
<!ENTITY % model.frontPart_sequenceOptional ""> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart_sequenceRepeatable ""> 
<!ENTITY % model.addrPart ""> 
<!ENTITY % model.addrPart_sequence ""> 
<!ENTITY % model.addrPart_sequenceOptional ""> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addrPart_sequenceRepeatable ""> 
<!ENTITY % model.pPart.data ""> 
<!ENTITY % model.pPart.data_sequence ""> 
<!ENTITY % model.pPart.data_sequenceOptional ""> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.data_sequenceRepeatable ""> 
<!ENTITY % model.inter "%model.labelLike; |
 %model.listLike;"> 
<!ENTITY % model.inter_sequence "%model.labelLike;, %model.listLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.labelLike;?, %model.listLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.labelLike;*, %model.listLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.labelLike;+, %model.listLike;+"> 
<!ENTITY % model.common "%model.divPart; |
 %model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.highlighted;"> 
<!ENTITY % model.phrase_sequence "%model.highlighted;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.highlighted;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.highlighted;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.highlighted;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % model.headerPart ""> 
<!ENTITY % model.headerPart_sequence ""> 
<!ENTITY % model.headerPart_sequenceOptional ""> 
<!ENTITY % model.headerPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.headerPart_sequenceRepeatable ""> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!-- start predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 _DUMMY_model.global)*' >

<!ENTITY % macro.phraseSeq '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 _DUMMY_model.global)*' >

<!ENTITY % macro.specialPara '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 %model.divPart; |
 _DUMMY_model.global)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element. -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?) |
 text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:in a bibliographic reference, contains the name of the author(s),
personal or corporate,
of a work; the primary statement of responsibility for any
bibliographic item.  -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a
    text. -->
<!ELEMENT back ((_DUMMY_model.frontPart |
 %model.pLike.front; |
 _DUMMY_model.global)*,((_DUMMY_model.div1Like,(_DUMMY_model.frontPart |
 _DUMMY_model.div1Like |
 _DUMMY_model.global)*) |
 ((%model.divLike;),(_DUMMY_model.frontPart |
 %model.divLike; |
 _DUMMY_model.global)*))?,((%model.divBottomPart;),(%model.divBottomPart; |
 _DUMMY_model.global)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. -->
<!ELEMENT body (_DUMMY_model.global*,((%model.divTop;),(_DUMMY_model.global |
 %model.divTop;)*)?,(_DUMMY_model.divGenLike,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)?,(((%model.divLike;),(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+ |
 (_DUMMY_model.div1Like,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+ |
 (((%model.common;),_DUMMY_model.global*)+,(((%model.divLike;),(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+ |
 (_DUMMY_model.div1Like,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),_DUMMY_model.global*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a
text. -->
<!ELEMENT div ((%model.divTop; |
 _DUMMY_model.global)*,((((%model.divLike; |
 _DUMMY_model.divGenLike),_DUMMY_model.global*)+ |
 (((%model.common;),_DUMMY_model.global*)+,((%model.divLike; |
 _DUMMY_model.divGenLike),_DUMMY_model.global*)*)),((%model.divBottom;),_DUMMY_model.global*)*)?)>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype; >
<!--doc:(edition statement) groups information relating to one edition of a text. -->
<!ELEMENT editionStmt (%model.pLike;)+>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:describes the approximate size of a text as stored on
some carrier medium, whether digital or non-digital, specified in any convenient units. -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(file description) contains a full bibliographic description of an electronic
file. -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(front matter) contains any prefatory matter (headers,
title page, prefaces, dedications, etc.)
found  at the start of a document, before the main body. -->
<!ELEMENT front ((_DUMMY_model.frontPart |
 %model.pLike.front; |
 _DUMMY_model.global)*,((_DUMMY_model.div1Like,(_DUMMY_model.frontPart |
 _DUMMY_model.div1Like |
 _DUMMY_model.global)*) |
 ((%model.divLike;),(_DUMMY_model.frontPart |
 %model.divLike; |
 _DUMMY_model.global)*))?,((%model.divBottomPart;),(%model.divBottomPart; |
 _DUMMY_model.global)*)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(heading) contains any type of heading, for example the title of a section,
or the heading of a list, glossary, manuscript description, etc. -->
<!ELEMENT head %macro.paraContent;>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype; >
<!--doc:contains one
component of a list. -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:contains the label associated with an item in a list; in
glossaries, marks the term being defined. -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:contains any sequence of items organized as a list. -->
<!ELEMENT list (((%model.divTop;) |
 _DUMMY_model.global)*,((item,_DUMMY_model.global*)+ |
 (label,_DUMMY_model.global*,item,_DUMMY_model.global*)+),((%model.divBottom;),_DUMMY_model.global*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition;
type CDATA "simple"  >
<!--doc:(notes statement) collects together any notes providing information about a text
additional to that recorded in other parts of the bibliographic
description. -->
<!ELEMENT notesStmt (_DUMMY_model.noteLike)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(paragraph) marks paragraphs in prose. -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:contains a postscript, e.g. to a letter. -->
<!ELEMENT postscript ((%model.common;) |
 _DUMMY_model.global)*>
<!ATTLIST postscript xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postscript
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(publication statement) groups information concerning the publication or distribution
of an electronic or other text.  -->
<!ELEMENT publicationStmt ((%model.pLike;)+ |
 _DUMMY_model.publicationStmtPart+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(series statement) groups information about the series, if any, to which
a publication belongs. -->
<!ELEMENT seriesStmt ((%model.pLike;)+ |
 title+)>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(source description) supplies a description of the source text(s) from
which an electronic text was derived or generated. -->
<!ELEMENT sourceDesc ((%model.pLike;)+ |
 (_DUMMY_model.biblLike |
 _DUMMY_model.sourceDescPart |
 %model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(TEI Header) supplies the descriptive and declarative information making
	up an electronic title page prefixed to every TEI-conformant
	text. -->
<!ELEMENT teiHeader (fileDesc,_DUMMY_model.headerPart*)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition;
type CDATA "text"  >
<!--doc:contains a single text of any kind, whether unitary or
composite, for example a poem or drama, a collection of essays, a novel,
a dictionary, or a corpus sample. -->
<!ELEMENT text (_DUMMY_model.global*,(front,_DUMMY_model.global*)?,body,_DUMMY_model.global*,(back,_DUMMY_model.global*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype; >
<!--doc:contains the full title of a work of any kind. -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
type CDATA #IMPLIED
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!--doc:(title statement) groups information about the title of a work and those
responsible for its intellectual content. -->
<!ELEMENT titleStmt (title+,author*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rendition; >
<!-- end elements -->
